{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sistema de inventario | Inicio{% endblock %}

{% block content %}


<div class="content">
    <div class="row">
        <div class="col-md-12">
			<div class="card white-content">
              	<div class="card-header">
              		<h1><!-- INGRESE EL ENCABEZADO DE LA PÁGINA AQUI --></h1>
				</div>

				<div class="card-body" align = center>
					<h1>Universidad de El Salvador</h1><hr>
					<h1>Unidad de Estudios Socioeconómicos</h1><hr>
					<h1>Sistema de inventario</h1>
				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}